In [1]:
mylist = ["abs",2,3]
print(mylist)

['abs', 2, 3]

In [2]:
mylist[0] = "noway"

In [3]:
mylist

['noway', 2, 3]

In [4]:
print(mylist)

['noway', 2, 3]

In [5]:
mylist.append('okay')

In [6]:
print(mylist)

['noway', 2, 3, 'okay']

In [7]:
mylist.reverse()

In [8]:
print(mylist)

['okay', 3, 2, 'noway']

In [9]:
mylist.pop()

'noway'

In [10]:
mylist

['okay', 3, 2]

In [11]:
mylist*2

['okay', 3, 2, 'okay', 3, 2]

In [12]:
my = [1,2,3,4,1,2]

In [13]:
set(my)

{1, 2, 3, 4}

In [14]:
print(my)

[1, 2, 3, 4, 1, 2]

In [15]:
s = set(my)

In [16]:
s

{1, 2, 3, 4}

In [17]:
set = {1,2,3,4}

In [18]:
print(set)

{1, 2, 3, 4}

In [19]:
set.append(5)

AttributeError: 'set' object has no attribute 'append'

In [20]:
set.add(5)

In [21]:
set

{1, 2, 3, 4, 5}

In [25]:
for x in range(1,30,2):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [26]:
for x in [0,1,2]

SyntaxError: invalid syntax (<ipython-input-26-307e6e1f886f>, line 1)

In [27]:
for x in [0,1,2]:

SyntaxError: unexpected EOF while parsing (<ipython-input-27-7ac412c2a314>, line 1)

In [28]:
for x in [0,1,2]:
    pass

In [29]:
def my_function():
    print("djlsu")

In [30]:
my_function()

djlsu

In [31]:
def my_function(fname):
    print("djlsu",fname)

In [32]:
my_function("okay")

djlsu okay

In [33]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [34]:
def my_function(*kids):
  print("The youngest child is " + kids)

my_function("Emil", "Tobias", "Linus")

TypeError: can only concatenate str (not "tuple") to str

In [35]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [36]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [37]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [38]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [40]:
def myfunc(n):
  return lambda a,b : a * n + b

mydoubler = myfunc(2)

print(mydoubler(11,1))

23